*
!.gitignore
!routes/
routes/*
!routes/web.php
!app/
app/*
!app/Http/
app/Http/*
!app/Http/Controllers/
app/Http/Controllers/*
!app/Http/Controllers/Admin/
app/Http/Controllers/Admin/*
!app/Http/Controllers/Admin/CarrierController.php
!app/Http/Controllers/Admin/DashboardController.php
!app/Http/Controllers/Admin/UserController.php
!app/Http/Controllers/Auth/
app/Http/Controllers/Auth/*
!app/Http/Controllers/Auth/AdminAuthController.php
!app/Http/Controllers/Auth/UserAuthController.php
!app/Http/Controllers/DialerController.php
!app/Http/Middleware/
app/Http/Middleware/*
!app/Http/Middleware/EnsureAdminAuthenticated.php
!app/Http/Middleware/EnsurePortalUser.php
!app/Http/Kernel.php
!config/
config/*
!config/services.php
!resources/
resources/*
!resources/views/
resources/views/*
!resources/views/layouts/
resources/views/layouts/*
!resources/views/layouts/app.blade.php
!resources/views/auth/
resources/views/auth/*
!resources/views/auth/admin-login.blade.php
!resources/views/auth/user-login.blade.php
!resources/views/admin/
resources/views/admin/*
!resources/views/admin/dashboard.blade.php
!resources/views/admin/create-user.blade.php
!resources/views/admin/carriers.blade.php
!resources/views/admin/edit-user.blade.php
!resources/views/admin/edit-carrier.blade.php
!resources/views/dialer/
resources/views/dialer/*
!resources/views/dialer/index.blade.php
!public/
public/*
!public/css/
public/css/*
!public/css/portal.css
